<div class="app-intro">
    <div class="app-intro-content">
        <div class="app-page-header">
            <div class="app-page-title">
                <h1 class="app-page-headline">Herzlich Willkommen an der Fachakademie für Sozialpädagogik des diako in Augsburg!</h1>
            </div>
        </div>
            <p>In mittlerweile drei Parallelkursen bilden wir zur staatlich anerkannten Erzieherin und zum staatlich anerkannten Erzieher aus. Auch das Sozialpädagogische Seminar können Sie bei uns ableisten. Ausgebildete Kinderpflegerinnen und Kinderpfleger können unmittelbar in die Hauptausbildung einsteigen.</p>
	</div>
</div>