<div class="app-card card-quick">
  <div class="app-card-main">
    <div class="app-subcards">

     <!-- Card 01 -->
      <div class="app-subcard subcard-tl">
        <a href="{{ page.base_url }}wege-zu-uns">
          <i class="fa fa-map-signs fa-4x"></i>
            <div class="app-subcard-title">
              Wege zu uns
            </div>
        </a>
      </div> 

     <!-- Card 02 -->
      <div class="app-subcard subcard-tr">
        <a href="{{ page.base_url }}wir">  
          {% include logos/logo-donation.html %}
            <div class="app-subcard-title">
              Wir
            </div>
        </a>
      </div>

      <!-- Card 03 -->
      <div class="app-subcard subcard-br">
        <a href="{{ page.base_url }}aktuell">
          {% include logos/logo-pray.html %}
            <div class="app-subcard-title">
              Aktuelles
            </div>
        </a>       
      </div>

      <!-- Card 04 -->
      <div class="app-subcard subcard-bl">
        <a href="https://diako-augsburg.de/diako/stellenangebote">
          {% include logos/logo-parking.html %}
            <div class="app-subcard-title">
              Stellenangebote
            </div>
        </a>  
      </div>

    </div>
  </div>
</div>